@font-face {
  src: url(../font/MentorSansStd.otf);
  font-family: MentorSansStd;
}

/* Navbar */
#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #333;
}

#nav .bott.active {
  background-color: #ad874f;
}

a.active {
  color: #333;
}

#nav .bott {
  transition: background-color 0.3s ease, color 0.3s ease;
}

#nav .bott:hover {
  background-color: #e3e3e3; /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Footer */
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px 0;
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: black;
  height: 100vh;
  background-image: url("../img/Home.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: MentorSansStd;
}

/* Buttons */
.bott {
  background-color: #333;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

span{
  color: #333;
}

a {
  text-decoration: none !important;
  color: #ad874f !important;
  font-family: MentorSansStd;
}

.pagina {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.pagina > div {
  justify-content: space-around;
  align-self: top;
}

h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  text-shadow: 2px 2px 5px black;
}

#sceltaBuilder{
   position: absolute;
   display: grid;
   grid-template-rows: 1fr 1fr;
   height: 70px;
   width: 210px;
   top: 0px;
   left: 0px;
   background-color: #333;
   display: none;
   border: 3px solid #ad874f;
   border-radius: 5px;
   z-index: -9999;
}

#sceltaBuilder a{
   text-decoration: none;
   font-size: 22px;
   color: #fff !important;
   text-shadow: 2px 2px 5px black;
   font-family: MentorSansStd;
}

#sceltaBuilder a:hover{
   color: gold !important;
   transition: 1s linear;
}

.pagina a:hover{
   color: gold !important;
   transition: 1s linear;
}

#flexslider a:hover{
   color: gold !important;
   transition: 1s linear;
}

#buildertag{
	color: #ad874f;
	font-family: MentorSansStd !important;
}

/* Flex Container Footer */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #333;
  padding: 0.5%;
  gap: 5px;
}

.flex-container > div {
  border-radius: 5px;
  padding: 8px;
  justify-content: space-around;
  text-align: center;
}

.item {
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  justify-self: center;
  align-self: center;
}

/*Nuovo carosello*/
#carouselExample {
    height: 40vh;
    width: 45%;
}

.nomep {
    color: #fff !important;
    text-shadow: 2px 2px 5px black;
    font-size: 2em;
    font-family: MentorSansStd;
    text-transform: none;
}

.nomep a{
	color: #fff !important; 
}

#flexslider{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
}

#flexslider img{
    object-fit: cover;
    opacity: 0.9;
}

/*Prevenire comportamento default bootstrap*/
p{
	margin-bottom: 0 !important;
}
