@font-face {
  src: url(../font/MentorSansStd.otf);
  font-family: MentorSansStd;
}

/* Navbar */
#nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #333;
}

#nav .btn.active {
  background-color: #ad874f;
}

a.active {
  color: #333;
}

#nav .btn {
  transition: background-color 0.3s ease, color 0.3s ease;
}

#nav .btn:hover {
  background-color: #e3e3e3; /* Cambia il colore di sfondo al passaggio del mouse */
}

/* Footer */
.foot {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 1px 0;
}

/* Glider */
.glider-contain {
  width: 100%;
  height: 60%;
  margin: 0 auto;
  position: relative;
}

.glider {
  margin: 0 auto;
  position: relative;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  transform: translateZ(0);
  border-radius: 6px;
}

.glider-track {
  transform: translateZ(0);
  width: 100%;
  height: 100% !important;
  margin: 0;
  padding: 0;
  display: flex;
  z-index: 1;
  margin: auto;
}

.glider.draggable {
  user-select: none;
  cursor: -webkit-grab;
  cursor: grab;
  height: 80%;
  display: flex;
}

.glider.draggable .glider-slide img {
  user-select: none;
  pointer-events: none;
}

.glider.drag {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.glider-slide {
  user-select: none;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.glider-slide img {
  max-width: 100%;
}

.glider::-webkit-scrollbar {
  opacity: 0;
  height: 0;
}

.glider-prev,
.glider-next {
  user-select: none;
  position: absolute;
  outline: none;
  background: none;
  padding: 0;
  z-index: 2;
  font-size: 40px;
  text-decoration: none;
  left: -23px;
  border: 0;
  top: 30%;
  cursor: pointer;
  color: #ffffff;
  opacity: 1;
  line-height: 1;
  transition: opacity 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67),
    color 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67);
}

.glider-prev:hover,
.glider-next:hover,
.glider-prev:focus,
.glider-next:focus {
  color: #ad874f;
}

.glider-next {
  right: -23px;
  left: auto;
}

.glider-next.disabled,
.glider-prev.disabled {
  opacity: 0.25;
  color: #333;
  cursor: default;
}

.glider-slide {
  min-width: 150px;
}

.glider-hide {
  opacity: 0;
}

.glider-dots {
  user-select: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.glider-dot {
  background: none;
  border: 0;
  padding: 0;
  user-select: none;
  outline: none;
  display: block;
  cursor: pointer;
  color: #333;
  border-radius: 999px;
  background: #333;
  width: 12px;
  height: 12px;
  margin: 7px;
}

.glider-dot:hover,
.glider-dot:focus,
.glider-dot.active {
  background: #ad874f;
}

@media (max-width: 36em) {
  .glider::-webkit-scrollbar {
    opacity: 1;
    -webkit-appearance: none;
    width: 7px;
    height: 3px;
  }
  .glider::-webkit-scrollbar-thumb {
    opacity: 1;
    border-radius: 99px;
    background-color: rgba(156, 156, 156, 0.25);
    box-shadow: 0 0 1px rgba(233, 3, 3, 0.25);
  }
}

/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body */
body {
  background-color: black;
  height: 100vh;
  background-image: url("../img/Home.png");
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: MentorSansStd;
}

/* Menu */
.menu {
  display: flex;
  align-content: center;
  height: calc(100vh - 100px); /* Altezza navbar + footer */
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Responsive
@media only screen and (max-width: 767px) {
  body {
    background-image: url("../img/Sfondo_full_page.png");
  }
} */

/* Search */
#ricerca {
  height: 10%;
  margin-bottom: 40px;
  margin-top: 10px;
}

input {
  border: #000;
  padding: 10px;
  font-size: 1.2em;
  width: 100%;
}

/* Flex Container Menu */
.flex-containerMenu {
  align-self: center;
  font-family: MentorSansStd;
  width: 50%; /* Imposta una larghezza fissa per lo spazio del menu */
  height: 80%;
  margin: auto;
  background-color: rgba(51, 51, 51, 0);
  padding: 20px;
  border-radius: 10px;
}

/* Media Query per adattare il menu su schermi piÃ¹ piccoli */
@media only screen and (max-width: 1080px) {
  .flex-containerMenu {
    align-self: center;
    width: 90%;
    height: 90%;
    /* margin: auto; */
    background-color: rgba(51, 51, 51, 0);
    /* padding: 10px;
    border-radius: 10px; */
  }
}

.flex-containerMenu h1 {
  color: #ffffff;
  height: 10%;
  text-align: center;
}

.flex-containerMenu ul {
  list-style-type: none;
  padding: 0;
  margin: 10px 0;
}

.flex-containerMenu ul li {
  margin-bottom: 10px;
}

.flex-containerMenu ul li a {
  display: block;
  padding: 20px;
  height: 100px;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

/* Flex Container */
.flex-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  background-color: #333;
  padding: 0.5%;
  gap: 5px;
}

.flex-container > div {
  border-radius: 5px;
  padding: 8px;
  justify-content: space-around;
  text-align: center;
}

.contenitoreG > img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.contenitoreG {
  height: 100% !important;
  margin-right: 5px;
}

.item {
  order: 0;
  flex-grow: 1;
  flex-shrink: 1;
  justify-self: center;
  align-self: center;
}

/* Buttons */
.btn {
  background-color: #333;
  border: none;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
}

span{
  color: #333;
}

.btn > a {
  text-decoration: none;
  color: #ad874f;
}

a {
  text-decoration: none;
  color: #ad874f;
  font-family: MentorSansStd;
}
.pagina {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.pagina > div {
  justify-content: space-around;
  align-self: top;
}

.pagina h3 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-size: x-large;
  text-shadow: 2px 2px 5px black;
}

.pagina a {
  color: #ad874f;
  transition: color 1s;
}

.pagina a:hover {
  color: gold;
}

/*****/
#ricerca > label {
  font-size: 20px;
  color: #fff !important;
}

#cercaPartita {
  background-color: rgba(209, 189, 189, 0.7);
  border-radius: 6px;
}

::placeholder {
  color: rgba(51, 51, 51, 0.9);
}

#titolo{
	color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: xx-large;
    text-shadow: 2px 2px 5px black;
}

.contenitoreG > h2{
	color: #fff !important;
	text-shadow: 2px 2px 5px black;
}

#sceltaBuilder{
   position: absolute;
   display: grid;
   grid-template-rows: 1fr 1fr;
   height: 70px;
   width: 200px;
   top: 0px;
   left: 0px;
   background-color: #333;
   display: none;
   border: 3px solid #ad874f;
   border-radius: 5px;
   z-index: -9999;
}

#sceltaBuilder a{
   text-decoration: none;
   font-size: 22px;
   color: #fff;
   text-shadow: 2px 2px 5px black;
   font-family: MentorSansStd;
}

#sceltaBuilder a:hover{
   color: gold;
   transition: 1s linear;
}

#buildertag{
	color: #ad874f;
	font-family: MentorSansStd !important;
}

#ricerca>label{
    color: rgb(255, 255, 255);
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    text-shadow: 2px 2px 5px black;
}